@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;

}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  display: inline-block;
  padding: 14px 25px;
  background-color: #333;
  color: #212121;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #777272;
  outline: 0;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: .51rem;
}

.btn img{
  width: 20px;
  margin-left: 10px;
}
.btn:hover{
  background: #3b62d7;
  color: #fff;
}
.dark-btn{
  background: #061d94;
  color: #fff;

}

body{
  background: rgb(36,36,36);
  background: -moz-linear-gradient(325deg, rgba(36,36,36,1) 0%, rgba(53,56,50,0.9579481450783438) 44%, rgba(66,56,56,1) 55%, rgba(71,71,71,1) 100%);
  background: -webkit-linear-gradient(325deg, rgba(36,36,36,1) 0%, rgba(53,56,50,0.9579481450783438) 44%, rgba(66,56,56,1) 55%, rgba(71,71,71,1) 100%);
  background: linear-gradient(325deg, rgba(36,36,36,1) 0%, rgba(53,56,50,0.9579481450783438) 44%, rgba(66,56,56,1) 55%, rgba(71,71,71,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#242424",endColorstr="#474747",GradientType=1);
}

/* media query */
@media (max-width: 1200px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn{
    padding: 10px 20px;
  }
}

